<template>
  <div id="default-layout">
    <v-app>
      <NavDrawerBar>
        <NuxtPage class="mainContent" />
      </NavDrawerBar>
      <NavAppBar />
      <LoadingMain />
    </v-app>
  </div>
</template>
<script setup lang="ts"></script>
<style lang="scss">
#default-layout {
  .mainContent {
    padding: 1rem !important;
  }
}
</style>
