<template>
  <div id="table-dashboard">
    <v-card elevation="1" class="my-3">
      <v-data-table
        :headers="headers"
        :items="userStore.userList"
        item-key="id"
        items-per-page="5"
      >
        <template #[`item.date`]="{}">
          <span>
            {{ $dayjs(date).format('D MMMM BBBB') }}
          </span>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script setup lang="ts">
const date = Date.now()

const userStore = useUserStore()
if (!userStore.userList.length) {
  userStore.getUserList()
}

const headers: any[] = [
  { title: 'No.', value: 'id', align: 'left', sortable: false, width: '10%' },
  { title: 'Username', value: 'username', align: 'left', sortable: true },
  {
    title: 'Email',
    value: 'email',
    align: 'left',
    sortable: false,
    width: '20%'
  },
  {
    title: 'Date',
    value: 'date',
    align: 'right',
    sortable: false,
    width: '10%'
  }
]
</script>

<style lang="scss">
// #table-dashboard {
// }
</style>
