<template>
  <div id="map-image-group">
    <BreadcrumbHeadBar :items="itemHeadBar" />
    <!-- <DashboardMain /> -->
    <v-row no-gutters class="my-2">
      <v-col cols="12" xl="4" lg="4" md="4" class="pa-1">
        <v-card
          class="pa-2 custom-scrollbar"
          elevation="2"
          style="height: 81.5vh"
        >
          <v-timeline side="end">
            <v-timeline-item
              v-for="(item, i) in itemMarker"
              :key="i"
              @mouseover="markApi(item)"
            >
              <template v-slot:icon>
                <v-avatar :image="item.img"></v-avatar>
                <span
                  v-if="i != 9"
                  style="
                    position: absolute;
                    bottom: -22px;
                    background: white;
                    font-size: 11px;
                    width: 90px;
                    text-align: center;
                  "
                >
                  {{ item.time }}
                </span>
              </template>
              <template v-slot:opposite>
                <span v-if="i == 0">วันที่ 1</span>
              </template>
              <v-card class="elevation-2">
                <v-card-text> {{ item.name }}</v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col cols="12" xl="8" lg="8" md="8" class="px-1">
        <v-card class="pa-2" elevation="2">
          <div id="toggleButton">Direction</div>
          <div id="map"></div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'is-auth'
})

const itemHeadBar = ref([{ name: 'Map Group', path: '/', icon: 'mdi-map' }])

const { loader } = useGoogleMaps()
const itemMarker = useItemMarker()
const numberZoom = ref(4)
let map: any = ref(null)
let marker: any = ref(null)
let infoWindow: any = ref(null)

loader
  .importLibrary('maps')
  .then(({ Map }) => {
    // ------------------------------ สร้าง maps ------------------------------
    map = new Map(document.getElementById('map') as HTMLElement, {
      center: itemMarker.value[0].center,
      zoom: numberZoom.value,
      minZoom: numberZoom.value,
      streetViewControl: false,
      mapTypeControlOptions: {
        mapTypeIds: ['HYBRID']
      }
    })
    infoWindow = new google.maps.InfoWindow({
      content: '',
      disableAutoPan: true
    })
    // ------------------------------ สร้าง Geocoder ------------------------------
    const geocoder = new google.maps.Geocoder()
    // Loop ผ่าน Array และใช้ Geocoder เพื่อดึงข้อมูลตำแหน่ง (ชื่อสถานที่) สำหรับทุกตำแหน่ง
    itemMarker.value.forEach(function (location, index) {
      const latLng = new google.maps.LatLng(
        location.center.lat,
        location.center.lng
      )
      const numberPlan = index + 1

      geocoder.geocode({ location: latLng }, function (results, status) {
        if (status === 'OK') {
          const firstResult = results?.[0]
          if (firstResult) {
            // ดึงชื่อตำแหน่ง (ชื่อสถานที่)
            const locationName = firstResult.formatted_address
            itemMarker.value[index].name =
              'สถานที่: ' + numberPlan + ' ' + locationName
          } else {
            console.error(`ไม่พบข้อมูลสถานที่สำหรับตำแหน่งที่ ${index + 1}`)
          }
        } else {
          console.error(
            `Geocoder failed for location ${index + 1} due to: ${status}`
          )
        }
      })
    })

    const directionsService = new google.maps.DirectionsService()
    // Loop ผ่าน Array และสร้าง Directions Request สำหรับแต่ละตำแหน่ง
    for (let i = 0; i < itemMarker.value.length - 1; i++) {
      const originLatLng = new google.maps.LatLng(
        itemMarker.value[i].center.lat,
        itemMarker.value[i].center.lng
      )
      const destinationLatLng = new google.maps.LatLng(
        itemMarker.value[i + 1].center.lat,
        itemMarker.value[i + 1].center.lng
      )

      // const request = {
      //   origin: originLatLng,
      //   destination: destinationLatLng,
      //   travelMode: 'DRIVING'
      // }

      const request: google.maps.DirectionsRequest = {
        origin: originLatLng,
        destination: destinationLatLng,
        travelMode: google.maps.TravelMode.DRIVING // หรือประเภท TravelMode อื่น ๆ ที่เหมาะสม
      }

      // ใช้ DirectionsService เพื่อดึงข้อมูลเส้นทาง
      directionsService.route(request, function (result, status) {
        if (status === 'OK') {
          const route = result?.routes[0]
          const leg = route?.legs[0]

          if (leg) {
            // ใช้ Optional chaining เพื่อเข้าถึงค่า distance.text โดยที่ไม่ต้องเช็คว่า leg.distance หรือ leg.distance.text มีค่าหรือไม่
            const distance = leg.distance?.text
            const duration = leg.duration?.text

            if (distance && duration) {
              // ทำสิ่งที่คุณต้องการกับ distance และ duration
              itemMarker.value[i].time = duration
              // console.log("เวลา: ", duration);
            } else {
              console.error('Distance or duration is undefined')
            }
          } else {
            console.error('Leg is undefined')
          }
        } else {
          console.error('Directions request failed due to ' + status)
        }
      })
    }

    const markers = itemMarker.value.map((position, i) => {
      const marker = new google.maps.Marker({
        position: position.center,
        map: map,
        icon: {
          url: position.img,
          scaledSize: new google.maps.Size(50, 50)
        }
      })

      marker.addListener('click', () => {
        infoWindow.setContent(position.name)
        infoWindow.open(map, marker)
      })

      return marker
    })

    // const polylines = [];
    let isPolylineVisible = true

    function findClosestLocation(targetLocation: any, locations: any) {
      return locations.reduce(function (prev: any, curr: any) {
        const prevDistance = getDistance(targetLocation, prev)
        const currDistance = getDistance(targetLocation, curr)

        return currDistance < prevDistance ? curr : prev
      })
    }

    function getDistance(location1: any, location2: any) {
      // console.log(location1)
      // console.log(location2.center)
      const latDiff = location1.lat - location2.center.lat
      const lngDiff = location1.lng - location2.center.lng
      return Math.sqrt(latDiff * latDiff + lngDiff * lngDiff)
    }

    function calculateAndDisplayRoute(item: any) {
      // var waypoints = locations

      // console.log(item[0].center);

      const waypointsTest: any = []

      for (let i = 0; i < item.length; i++) {
        waypointsTest.push({
          location: new google.maps.LatLng(
            item[i].center.lat,
            item[i].center.lng
          )
        })
      }

      setTimeout(() => {
        let markers: any[] = []
        let markersVisible = true
        const request: google.maps.DirectionsRequest = {
          origin: waypointsTest[0].location,
          destination: waypointsTest[waypointsTest.length - 1].location,
          waypoints: waypointsTest.slice(1, waypointsTest.length - 1), // ตำแหน่งตั้งแต่ตัวที่ 2 ถึงตัวก่อนตัวสุดท้าย
          travelMode: google.maps.TravelMode.DRIVING // หรือประเภท TravelMode อื่น ๆ ที่เหมาะสม
        }

        directionsService.route(request, function (response: any, status: any) {
          if (status === 'OK') {
            // directionsRenderer.setDirections(response);
            const route = response.routes[0]
            const path = new google.maps.Polyline({
              path: route.overview_path,
              geodesic: true,
              strokeColor: '#3535ff',
              strokeOpacity: 1.0,
              strokeWeight: 4,
              icons: [
                {
                  icon: {
                    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW, // ใช้ FORWARD_CLOSED_ARROW สำหรับลูกศร
                    scale: 4,
                    strokeColor: '#FF0000',
                    strokeWeight: 2
                  },
                  offset: '100%' // ปรับ offset เพื่อให้ลูกศรอยูที่จุดสุดท้ายของเส้นทาง
                }
              ],
              visible: markersVisible
            })
            path.setMap(map)

            // แสดง Marker ที่แต่ละจุดบน Polyline
            route.overview_path.forEach((point: any, index: any) => {
              if ((index + 1) % 5 === 0) {
                const marker = new google.maps.Marker({
                  position: point,
                  map: map,
                  icon: {
                    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                    scale: 3, // ขนาดของลูกศร
                    fillColor: '#FF0000', // สีของลูกศร
                    fillOpacity: 1,
                    strokeColor: 'white', // สีของเส้นขอบลูกศร
                    strokeWeight: 1,
                    rotation: calculateArrowRotation(route.overview_path, index) // คำนวณการหมุนของลูกศร
                  },
                  title: 'Route Point',
                  visible: markersVisible
                })

                markers.push(marker)

                // ฟังก์ชันคำนวณการหมุนของลูกศร
                function calculateArrowRotation(path: any, index: any) {
                  if (index < path.length - 1) {
                    const heading =
                      google.maps.geometry.spherical.computeHeading(
                        path[index],
                        path[index + 1]
                      )
                    return heading
                  } else {
                    // Return a default rotation (0 degrees) if index is out of bounds
                    return 0
                  }
                }

                function moveMarker() {
                  // สุ่มตำแหน่งใหม่
                  const newPosition = new google.maps.LatLng(
                    point.lat() + (Math.random() - 0.5) / 10,
                    point.lng() + (Math.random() - 0.5) / 10
                  )

                  // ให้ Marker ขยับไปยังตำแหน่งใหม่
                  marker.setPosition(newPosition)
                }
                // setInterval(moveMarker, 2000);
              }
            })
            // Add event listener to toggle button
            const toggleButton: any = document.getElementById('toggleButton')
            toggleButton.addEventListener('click', toggleMarkersVisibility)

            function toggleMarkersVisibility() {
              markersVisible = !markersVisible
              path.setVisible(markersVisible)

              markers.forEach((marker) => {
                marker.setVisible(markersVisible)
              })
            }
          } else {
            window.alert('ไม่สามารถคำนวณเส้นทางได้ เนื่องจาก: ' + status)
          }
        })
      }, 1000)
    }

    calculateAndDisplayRoute(itemMarker.value)
    console.log(itemMarker.value)
  })
  .catch((e) => {
    console.log(e)
  })

const markApi = (item: any) => {
  // const index = itemMarker.value.indexOf(item)
  // var newLatLng = new google.maps.LatLng(item.center.lat, item.center.lng)
  // var newZoom = 9
  // // ใช้ setCenter เพื่อเปลี่ยนตำแหน่งแผนที่
  // // this.map.setCenter(newLatLng);
  // map.panTo(newLatLng)
  // map.setZoom(newZoom)
  // infoWindow.setContent(item.name)
  // infoWindow.open(map, marker[index])
}
</script>

<style lang="scss">
#map-image-group {
  #map {
    width: 100%;
    height: 80vh;
  }
  #toggleButton {
    position: absolute;
    top: 2.5%;
    left: 83%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 80px;
  }
  @media only screen and (max-width: 768px) {
    #toggleButton {
      position: absolute;
      top: 2.5%;
      left: 78%;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px;
      cursor: pointer;
      width: 80px;
    }
  }
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}
</style>
