<template>
  <div id="appbar">
    <v-app-bar :elevation="1" style="background-color: #e4fff6">
      <template #prepend>
        <v-app-bar-nav-icon @click="drawer = !drawer" />
      </template>
      <v-app-bar-title>Application Bar</v-app-bar-title>
    </v-app-bar>
  </div>
</template>

<script setup lang="ts">
const drawer = useDrawer()
// const rail = useRail()
</script>

<style scoped></style>
