<template>
  <div id="drawerbar">
    <v-navigation-drawer
      v-model="drawer"
      style="background-color: #294c60"
      theme="dark"
      scrim="temporary"
    >
      <template #prepend>
        <v-list-item
          v-if="authStore.user"
          lines="two"
          :prepend-avatar="`https://picsum.photos/500/300?image=5`"
          :title="authStore.user.username"
          :subtitle="authStore.user.firstName + ' ' + authStore.user.lastName"
        />
      </template>
      <v-divider />
      <v-list density="compact" nav>
        <v-list-item
          v-for="(item, i) in itemNav"
          :key="i"
          :prepend-icon="item.icon"
          :value="item.name"
          :to="item.path"
        >
          <span class="font-16">
            {{ item.name }}
          </span>
        </v-list-item>
      </v-list>
      <template #append>
        <div class="pa-2">
          <v-btn block color="#001B2E" @click="authStore.logout()">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-main>
      <slot />
    </v-main>
  </div>
</template>

<script setup lang="ts">
const authStore = useAuthStore()
const drawer = useDrawer()
// const rail = useRail()
const itemNav = useItemNav()
</script>

<style scoped></style>
