<template>
  <div id="main">
    <VueLoadingOverlay
      loader="bars"
      :active="loading"
      :is-full-page="true"
      :opacity="0.6"
      :height="100"
      :width="100"
      color="#ffffff"
      background-color="#000000"
    />
  </div>
</template>
<script setup lang="ts">
import VueLoadingOverlay from 'vue-loading-overlay'
const loading = useLoadingMain()
</script>
<style lang="scss">
// #main {
// }
</style>
