<template>
  <div id="homepage">
    <div class="header">
      <v-app-bar :elevation="1" style="background-color: #e4fff6">
        <template #prepend> </template>
        <v-app-bar-title>Search</v-app-bar-title>
      </v-app-bar>
    </div>
    <div class="content pa-5">
      <v-main>
        <v-row style="justify-content: center">
          <v-col cols="12" md="6">
            <v-autocomplete
              :items="items"
              auto-select-first
              class="flex-full-width"
              density="comfortable"
              item-props
              menu-icon=""
              placeholder="Search"
              prepend-inner-icon="mdi-magnify"
              rounded
              theme="light"
              variant="solo"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row style="justify-content: center">
          <v-col cols="12" md="6">
            <v-card class="mx-auto">
              <v-list :items="filteredItems" item-title="title" item-value="title"></v-list>
            </v-card>
          </v-col>
        </v-row>
      </v-main>
    </div>
    <div class="footer"></div>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: 'home'
})
const store = useTodosStore();
const todos =  computed(() => store.todos)
console.log(todos)
const items = [
  {
    prependIcon: 'mdi-clock-outline',
    title: 'recipe with chicken'
  },
  {
    prependIcon: 'mdi-clock-outline',
    title: 'best hiking trails near me'
  },
  {
    prependIcon: 'mdi-clock-outline',
    title: 'how to learn a new language'
  },
  {
    prependIcon: 'mdi-clock-outline',
    title: 'DIY home organization ideas'
  },
  {
    prependIcon: 'mdi-clock-outline',
    title: 'latest fashion trends'
  }
]
const searchInput = ref('')

const filteredItems = computed(() => {
  return items.filter(item => item.title.toLowerCase().includes(searchInput.value.toLowerCase()))
})
</script>

<style scoped></style>
