<template>
  <div id="dashboard">
    <BreadcrumbHeadBar :items="itemHeadBar" />
    <v-row no-gutters class="my-2">
      <v-col cols="12" xl="4" lg="4" md="4" class="pa-1">
        <v-card
          class="pa-2 custom-scrollbar"
          elevation="2"
          style="height: 81.5vh"
        >
          <v-timeline side="end">
            <v-timeline-item
              v-for="(item, i) in itemList"
              :key="i"
              @mouseover="markApi(item)"
            >
              <template v-slot:icon>
                <v-avatar :image="item.img"></v-avatar>
                <span
                  v-if="i != 9"
                  style="
                    position: absolute;
                    bottom: -22px;
                    background: white;
                    font-size: 11px;
                    width: 90px;
                    text-align: center;
                  "
                >
                  {{ item.time }}
                </span>
              </template>
              <template v-slot:opposite>
                <span v-if="i == 0">วันที่ 1</span>
              </template>
              <v-card class="elevation-2">
                <v-card-text> {{ item.name }}</v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col cols="12" xl="8" lg="8" md="8" class="px-1">
        <v-card class="pa-2" elevation="2">
          <div id="currentLocationButton">
            <span class="mdi mdi-crosshairs-gps"></span>
          </div>
          <div id="toggleButton">
            <span class="mdi mdi-directions-fork"></span>
          </div>
          <div id="zoomInButton">
            <span class="mdi mdi-plus"></span>
          </div>
          <!-- <div id="zoomInButton">
            <v-btn icon="mdi-plus" size="small"></v-btn>
          </div> -->
          <div id="zoomOutButton"><span class="mdi mdi-minus"></span></div>
          <div id="map"></div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'is-auth'
})

const itemHeadBar = ref([{ name: 'Map Group', path: '/', icon: 'mdi-map' }])

const { loader } = useGoogleMaps()
const numberZoom = ref(4)
let map: any = ref(null)
let markers: any = ref([])
let infoWindow: any = ref(null)

const markerPlanStore = useMarkerListStore()
const itemList = ref<IUserList[]>([])

onMounted(async () => {
  try {
    // เรียก loadMaps() โดยตรง
    if (!markerPlanStore.markerList.length)
      await markerPlanStore.getMarkerList()

    itemList.value = markerPlanStore.markerList

    // เรียก loadMaps() โดยตรง
    if (itemList.value.length > 0) await loadMaps()
  } catch (error) {
    console.error('Error fetching marker list:', error)
  }
})

const loadMaps = async () => {
  try {
    await loader
    const { Map } = await loader.importLibrary('maps')
    console.log(itemList.value[0].center)
    console.log(itemList.value[0].center)
    map = useCreateMap(
      document.getElementById('map') as HTMLElement,
      itemList.value[0].center,
      numberZoom.value
    )
    infoWindow = useCreateInfoWindow()
    // ------------------------------ สร้าง Geocoder ------------------------------
    const geocoder = new google.maps.Geocoder()
    // Loop ผ่าน Array และใช้ Geocoder เพื่อดึงข้อมูลตำแหน่ง (ชื่อสถานที่) สำหรับทุกตำแหน่ง
    itemList.value.forEach(function (location: any, index: any) {
      const latLng = new google.maps.LatLng(
        location.center.lat,
        location.center.lng
      )
      const numberPlan = index + 1

      geocoder.geocode({ location: latLng }, function (results, status) {
        if (status === 'OK') {
          const firstResult = results?.[0]
          if (firstResult) {
            // ดึงชื่อตำแหน่ง (ชื่อสถานที่)
            const locationName = firstResult.formatted_address
            itemList.value[index].name =
              'สถานที่: ' + numberPlan + ' ' + locationName
          } else {
            console.error(`ไม่พบข้อมูลสถานที่สำหรับตำแหน่งที่ ${index + 1}`)
          }
        } else {
          console.error(
            `Geocoder failed for location ${index + 1} due to: ${status}`
          )
        }
      })
    })

    const directionsService = new google.maps.DirectionsService()
    // Loop ผ่าน Array และสร้าง Directions Request สำหรับแต่ละตำแหน่ง
    for (let i = 0; i < itemList.value.length - 1; i++) {
      const originLatLng = new google.maps.LatLng(
        itemList.value[i].center.lat,
        itemList.value[i].center.lng
      )
      const destinationLatLng = new google.maps.LatLng(
        itemList.value[i + 1].center.lat,
        itemList.value[i + 1].center.lng
      )

      const request: google.maps.DirectionsRequest = {
        origin: originLatLng,
        destination: destinationLatLng,
        travelMode: google.maps.TravelMode.DRIVING // หรือประเภท TravelMode อื่น ๆ ที่เหมาะสม
      }

      // ใช้ DirectionsService เพื่อดึงข้อมูลเส้นทาง
      directionsService.route(request, function (result, status) {
        if (status === 'OK') {
          const route = result?.routes[0]
          const leg = route?.legs[0]

          if (leg) {
            // ใช้ Optional chaining เพื่อเข้าถึงค่า distance.text โดยที่ไม่ต้องเช็คว่า leg.distance หรือ leg.distance.text มีค่าหรือไม่
            const distance = leg.distance?.text
            const duration = leg.duration?.text

            if (distance && duration) {
              // ทำสิ่งที่คุณต้องการกับ distance และ duration
              itemList.value[i].time = duration
              // console.log("เวลา: ", duration);
            } else {
              console.error('Distance or duration is undefined')
            }
          } else {
            console.error('Leg is undefined')
          }
        } else {
          console.error('Directions request failed due to ' + status)
        }
      })
    }

    // ------------------------------ สร้าง Marker ------------------------------
    markers = itemList.value.map((position: any, i: any) => {
      const number = i + 1
      const marker = new google.maps.Marker({
        position: position.center,
        map: map,
        icon: {
          url: 'https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png',
          scaledSize: new google.maps.Size(50, 50),
          anchor: new google.maps.Point(25, 50)
        }
      })

      if (i === 0) {
        infoWindow.setContent('สถานที่: 1 C5P3+CP Nyngan NSW, Australia')
        infoWindow.open(map, marker)
      }

      marker.addListener('mouseover', () => {
        infoWindow.setContent(position.name)
        infoWindow.open(map, marker)
      })

      marker.addListener('mouseout', () => {
        infoWindow.close()
      })

      marker.addListener('click', () => {
        infoWindow.setContent(position.name)
        infoWindow.open(map, marker)
      })

      return marker
    })

    // const polylines = [];
    let isPolylineVisible = true

    const allCoordinates = [
      new google.maps.LatLng(-31.56391, 147.154312),
      new google.maps.LatLng(-33.718234, 150.363181),
      new google.maps.LatLng(-33.727111, 150.371124),
      new google.maps.LatLng(-33.848588, 151.209834),
      new google.maps.LatLng(-33.851702, 151.216968),
      new google.maps.LatLng(-34.671264, 150.863657),
      new google.maps.LatLng(-35.304724, 148.662905),
      new google.maps.LatLng(-37.062834, 142.748489),
      new google.maps.LatLng(-36.72236, 142.1772),
      new google.maps.LatLng(-37.823873, 140.76271)
    ]

    const polyline = new google.maps.Polyline({
      path: allCoordinates,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2,
      geodesic: true,
      icons: [
        {
          icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
          offset: '100%',
          repeat: '20px'
        }
      ]
    })

    polyline.setMap(map)
    animateCircle(polyline)

    function animateCircle(polyline: any) {
      let count = 0

      window.setInterval(() => {
        count = (count + 1) % 200

        const icons = polyline.get('icons')

        icons[0].offset = count / 2 + '%'
        polyline.set('icons', icons)
      }, 800)
    }

    function findClosestLocation(targetLocation: any, locations: any) {
      return locations.reduce(function (prev: any, curr: any) {
        const prevDistance = getDistance(targetLocation, prev)
        const currDistance = getDistance(targetLocation, curr)

        return currDistance < prevDistance ? curr : prev
      })
    }

    function getDistance(location1: any, location2: any) {
      // console.log(location1)
      // console.log(location2.center)
      const latDiff = location1.lat - location2.center.lat
      const lngDiff = location1.lng - location2.center.lng
      return Math.sqrt(latDiff * latDiff + lngDiff * lngDiff)
    }

    function calculateAndDisplayRoute(item: any) {
      const waypointsTest: any = []

      for (let i = 0; i < item.length; i++) {
        waypointsTest.push({
          location: new google.maps.LatLng(
            item[i].center.lat,
            item[i].center.lng
          )
        })
      }

      setTimeout(() => {
        const request: google.maps.DirectionsRequest = {
          origin: waypointsTest[0].location,
          destination: waypointsTest[waypointsTest.length - 1].location,
          waypoints: waypointsTest.slice(1, waypointsTest.length - 1), // ตำแหน่งตั้งแต่ตัวที่ 2 ถึงตัวก่อนตัวสุดท้าย
          travelMode: google.maps.TravelMode.DRIVING // หรือประเภท TravelMode อื่น ๆ ที่เหมาะสม
        }
        directionsService.route(request, function (response, status) {
          if (status === 'OK') {
          } else {
            window.alert('ไม่สามารถคำนวณเส้นทางได้ เนื่องจาก: ' + status)
          }
        })

        // Add event listener to toggle button
        const zoomInButton: any = document.getElementById('zoomInButton')
        zoomInButton.addEventListener('click', zoomIn)

        const zoomOutButton: any = document.getElementById('zoomOutButton')
        zoomOutButton.addEventListener('click', zoomOut)

        const toggleButton: any = document.getElementById('toggleButton')
        toggleButton.addEventListener('click', toggleMarkersVisibility)

        const currentLocationButton: any = document.getElementById(
          'currentLocationButton'
        )
        currentLocationButton.addEventListener('click', getCurrentLocation)

        function zoomIn() {
          const currentZoom = map.getZoom()
          const newZoom = currentZoom + 1
          map.setZoom(newZoom)
        }

        // JavaScript: ฟังก์ชัน zoom out
        function zoomOut() {
          const currentZoom = map.getZoom()
          const newZoom = currentZoom - 1
          map.setZoom(newZoom)
        }

        function toggleMarkersVisibility() {
          if (isPolylineVisible) {
            polyline.setMap(null) // Hide polyline
          } else {
            polyline.setMap(map) // Show polyline
          }
          isPolylineVisible = !isPolylineVisible
        }

        function getCurrentLocation() {
          if (navigator.geolocation) {
            // ขอความอนุญาตให้ใช้งานตำแหน่งปัจจุบัน
            navigator.geolocation.getCurrentPosition(
              function (position) {
                const currentLocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                }

                // กำหนดตำแหน่งปัจจุบันในแผนที่
                map.setCenter(currentLocation)

                // (ตัวเลือก) สามารถเพิ่ม marker หรือทำอย่างอื่นตามความต้องการ
                // const marker = new google.maps.Marker({
                //   position: currentLocation,
                //   map: map,
                //   title: "Current Location"
                // });
              },
              function (error) {
                console.error('Error getting current location:', error)
              }
            )
          } else {
            alert('Geolocation is not supported by this browser.')
          }
        }
      }, 1000)
    }

    calculateAndDisplayRoute(itemList.value)
    console.log(itemList.value)
  } catch (error) {
    console.log(error)
  }
}

// เรียก loadMaps() นอกจาก onMounted
if (itemList.value.length > 0) {
  await loadMaps()
}

const markApi = (item: any) => {
  const index = itemList.value.indexOf(item)
  var newLatLng = new google.maps.LatLng(item.center.lat, item.center.lng)
  var newZoom = 6
  map.panTo(newLatLng)
  map.setZoom(newZoom)
  infoWindow.setContent(item.name)
  infoWindow.open(map, markers[index])
}
</script>

<style lang="scss">
#dashboard {
  #map {
    width: 100%;
    height: 80vh;
  }
  #zoomInButton {
    span {
      font-size: 25px;
    }
    position: absolute;
    bottom: 85px;
    right: 20px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 5px;
    cursor: pointer;
    width: 43px;
    height: 43px;
  }
  #zoomOutButton {
    span {
      font-size: 25px;
    }
    position: absolute;
    bottom: 35px;
    right: 20px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 5px;
    cursor: pointer;
    width: 43px;
    height: 43px;
  }
  #toggleButton {
    span {
      font-size: 25px;
    }
    position: absolute;
    bottom: 135px;
    right: 20px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 5px;
    cursor: pointer;
    width: 43px;
    height: 43px;
  }

  #currentLocationButton {
    span {
      font-size: 25px;
    }
    position: absolute;
    bottom: 185px;
    right: 20px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    // padding: 5px;
    cursor: pointer;
    width: 43px;
    height: 43px;
  }
  // @media only screen and (max-width: 768px) {
  //   #toggleButton {
  //     position: absolute;
  //     top: 17px;
  //     right: 67px;
  //     text-align: center;
  //     z-index: 1;
  //     background-color: #fff;
  //     border: 1px solid #ccc;
  //     // padding: 5px;
  //     cursor: pointer;
  //     width: 43px;
  //     height: 43px;
  //   }
  // }
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}
</style>
