<template>
  <div id="login">
    <v-row no-gutters align="center" justify="center" style="height: 100vh">
      <v-col cols="12">
        <v-card class="mx-auto pa-8" max-width="400">
          <v-form v-model="form" @submit.prevent="onSubmit">
            <div class="font-16">
              {{ $t('fromLogin.txUsername') }}
            </div>
            <div class="mb-4">
              <v-text-field
                v-model="itemLogin.username"
                :readonly="loading"
                density="compact"
                color="#FFC49B"
                :placeholder="$t('fromLogin.txUsername')"
                prepend-inner-icon="mdi-account-outline"
                variant="outlined"
                :rules="[required]"
                hide-details
              />
            </div>
            <div class="font-16">
              {{ $t('fromLogin.txPassword') }}
            </div>
            <div class="mb-4">
              <v-text-field
                v-model="itemLogin.password"
                :readonly="loading"
                :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'"
                density="compact"
                color="#FFC49B"
                :placeholder="$t('fromLogin.txPassword')"
                prepend-inner-icon="mdi-lock-outline"
                variant="outlined"
                :rules="[required]"
                hide-details
                @click:append-inner="visible = !visible"
              />
            </div>
            <div>
              <v-btn
                :loading="loading"
                block
                color="#FFC49B"
                type="submit"
                variant="elevated"
                style="color: white"
              >
                {{ $t('fromLogin.btnLogin') }}
              </v-btn>
            </div>
          </v-form>
          <v-row no-gutters class="mt-4" style="text-align: right">
            <v-col cols="12">
              <v-btn-toggle
                v-model="toggle_exclusive"
                divided
                variant="outlined"
                density="compact"
              >
                <v-btn color="#151D48" @click="swLanguage('en')">
                  EN
                  <!-- <img
                    src="../assets/flag/uk.png"
                    width="30"
                  > -->
                </v-btn>
                <v-btn color="#151D48" @click="swLanguage('th')">
                  TH
                  <!-- <img
                    src="../assets/flag/thailand.png"
                    width="30"
                  > -->
                </v-btn>
              </v-btn-toggle>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
import { lowerCase } from '~/utils/string'

definePageMeta({
  layout: 'auth',
  middleware: 'is-auth'
})

const authStore = useAuthStore()
const useToast = useShowToast()
const { locale } = useI18n()

const form = ref(false)
const toggle_exclusive = ref(0)
const visible = ref(false)
const loading = ref(false)

const itemLogin = reactive({
  username: 'macallan',
  password: '1234'
})

const login = async () => {
  itemLogin.username = lowerCase(itemLogin.username)
  await authStore.login(itemLogin)
  await navigateTo('/', { replace: true })
}

const onSubmit = () => {
  if (!form.value) {
    return useToast('กรอก Username และ Password ให้ครบ !', 'error')
  }
  loading.value = true
  login()
  setTimeout(() => (loading.value = false), 1000)
}

const required = (v: any) => {
  return !!v || 'Field is required'
}

function swLanguage(item: string) {
  localStorage.setItem('locale', item)
  locale.value = item
}
</script>

<style lang="scss">
#login {
  background-color: #ffefd3 !important;
  height: 100vh !important;
}
</style>
