<template>
  <div id="register">
    <h1>Register Page</h1>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: 'auth'
})
</script>

<style lang="scss">
// #register {
// }
</style>
