<template>
  <div id="dashboard">
    <BreadcrumbHeadBar :items="itemHeadBar" />
    <v-row no-gutters class="my-2">
      <v-col cols="12" xl="4" lg="4" md="4" class="pa-1">
        <v-card
          class="pa-2 custom-scrollbar"
          elevation="2"
          style="height: 81.5vh"
        >
          <v-timeline side="end">
            <v-timeline-item
              v-for="(item, i) in itemMarker"
              :key="i"
              @mouseover="markApi(item)"
            >
              <template v-slot:icon>
                <v-avatar :image="item.img"></v-avatar>
                <span
                  v-if="i != 9"
                  style="
                    position: absolute;
                    bottom: -22px;
                    background: white;
                    font-size: 11px;
                    width: 90px;
                    text-align: center;
                  "
                >
                  {{ item.time }}
                </span>
              </template>
              <template v-slot:opposite>
                <span v-if="i == 0">วันที่ 1</span>
              </template>
              <v-card class="elevation-2">
                <v-card-text> {{ item.name }}</v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col cols="12" xl="8" lg="8" md="8" class="px-1">
        <v-card class="pa-2" elevation="2">
          <div id="toggleButton">Direction</div>
          <div id="map"></div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'is-auth'
})

const itemHeadBar = ref([{ name: 'Map Group', path: '/', icon: 'mdi-map' }])

const { loader } = useGoogleMaps()
const itemMarker = useItemMarker()
const numberZoom = ref(4)
let map: any = ref(null)
let marker: any = ref(null)
let infoWindow: any = ref(null)
let isPolylineVisible = true

const mapsTest = async () => {
  try {
    await loader
    const { Map } = await loader.importLibrary('maps')
    map = useCreateMap(
      document.getElementById('map') as HTMLElement,
      itemMarker.value[0].center,
      numberZoom.value
    )
    infoWindow = useCreateInfoWindow()
  } catch (error) {
    console.log(error)
  }
}
mapsTest()

loader
  .importLibrary('maps')
  .then(({ Map }) => {
    map = useCreateMap(
      document.getElementById('map') as HTMLElement,
      itemMarker.value[0].center,
      numberZoom.value
    )
    infoWindow = useCreateInfoWindow()
  })
  .catch((e) => {
    console.log(e)
  })

const markApi = (item: any) => {
  // const index = itemMarker.value.indexOf(item)
  // var newLatLng = new google.maps.LatLng(item.center.lat, item.center.lng)
  // var newZoom = 9
  // // ใช้ setCenter เพื่อเปลี่ยนตำแหน่งแผนที่
  // // this.map.setCenter(newLatLng);
  // map.panTo(newLatLng)
  // map.setZoom(newZoom)
  // infoWindow.setContent(item.name)
  // infoWindow.open(map, marker[index])
}
</script>

<style lang="scss">
#dashboard {
  #map {
    width: 100%;
    height: 80vh;
  }
  #toggleButton {
    position: absolute;
    top: 2.5%;
    left: 83%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 80px;
  }
  @media only screen and (max-width: 768px) {
    #toggleButton {
      position: absolute;
      top: 2.5%;
      left: 78%;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px;
      cursor: pointer;
      width: 80px;
    }
  }
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}
</style>
