<template>
  <div id="dashboard">
    <BreadcrumbHeadBar :items="itemHeadBar" />
    <v-row no-gutters class="my-2">
      <v-col cols="12" xl="4" lg="4" md="4" class="pa-1">
        <v-card
          class="pa-2 custom-scrollbar"
          elevation="2"
          style="height: 81.5vh"
        >
          <v-timeline side="end">
            <v-timeline-item
              v-for="(item, i) in itemMarker"
              :key="i"
              @mouseover="markApi(item)"
            >
              <template v-slot:icon>
                <v-avatar :image="item.img"></v-avatar>
                <span
                  v-if="i != 9"
                  style="
                    position: absolute;
                    bottom: -22px;
                    background: white;
                    font-size: 11px;
                    width: 90px;
                    text-align: center;
                  "
                >
                  {{ item.time }}
                </span>
              </template>
              <template v-slot:opposite>
                <span v-if="i == 0">วันที่ 1</span>
              </template>
              <v-card class="elevation-2">
                <v-card-text> {{ item.name }}</v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
        </v-card>
      </v-col>
      <v-col cols="12" xl="8" lg="8" md="8" class="px-1">
        <v-card class="pa-2" elevation="2">
          <div id="toggleButton">Direction</div>
          <div id="map"></div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'is-auth'
})

const itemHeadBar = ref([{ name: 'Map Group', path: '/', icon: 'mdi-map' }])

const { loader } = useGoogleMaps()
const itemMarker = useItemMarker()
const numberZoom = ref(4)
let map: any = ref(null)
let marker: any = ref(null)
let infoWindow: any = ref(null)
let isPolylineVisible = true

const mapsTest = async () => {
  try {
    await loader
    const { Map } = await loader.importLibrary('maps')
    map = createMap(
      document.getElementById('map') as HTMLElement,
      itemMarker.value[0].center,
      numberZoom.value
    )
    const infoWindow = createInfoWindow()

    itemMarker.value.forEach(async (location, index) => {
      const latLng = new google.maps.LatLng(
        location.center.lat,
        location.center.lng
      )
      const numberPlan = index + 1

      const locationName = await geocodeLocation(latLng)
      if (locationName) {
        itemMarker.value[index].name = `สถานที่: ${numberPlan} ${locationName}`
      } else {
        console.error(`ไม่พบข้อมูลสถานที่สำหรับตำแหน่งที่ ${index + 1}`)
      }
    })

    for (let i = 0; i < itemMarker.value.length - 1; i++) {
      const originLatLng = new google.maps.LatLng(
        itemMarker.value[i].center.lat,
        itemMarker.value[i].center.lng
      )
      const destinationLatLng = new google.maps.LatLng(
        itemMarker.value[i + 1].center.lat,
        itemMarker.value[i + 1].center.lng
      )

      const { distance, duration } = await calculateRoute(
        originLatLng,
        destinationLatLng,
        google.maps.TravelMode.DRIVING
      )

      if (distance && duration) {
        itemMarker.value[i].time = duration
      } else {
        console.error('Distance or duration is undefined')
      }
    }

    interface Location {
      // existing properties of Location
      center: google.maps.LatLng
    }

    function convertMarkerToLocation(marker: IMarker): Location {
      return {
        center: marker.position // Assuming position exists in both interfaces
        // Extract other relevant properties from marker and map them to Location properties
      }
    }

    // Call the mapping function before passing the array to createMarkers
    const locationArray: Location[] = itemMarker.value.map(
      convertMarkerToLocation
    )

    // Now locationArray can be passed to the createMarkers function
    const markers = createMarkers(locationArray)

    const allCoordinates = [
      new google.maps.LatLng(-31.56391, 147.154312),
      new google.maps.LatLng(-33.718234, 150.363181),
      new google.maps.LatLng(-33.727111, 150.371124),
      new google.maps.LatLng(-33.848588, 151.209834),
      new google.maps.LatLng(-33.851702, 151.216968),
      new google.maps.LatLng(-34.671264, 150.863657),
      new google.maps.LatLng(-35.304724, 148.662905),
      new google.maps.LatLng(-37.062834, 142.748489),
      new google.maps.LatLng(-36.72236, 142.1772),
      new google.maps.LatLng(-37.823873, 140.76271)
    ]

    const polyline = createPolyline(allCoordinates, map) // Create polyline
    // const animationId = animatePolyline(polyline) // Start animation

    // // Optionally, add a button to toggle animation and stop it when clicked
    // const toggleButton: any = document.getElementById('toggleButton')
    // toggleButton.addEventListener('click', () => {
    //   clearInterval(animationId) // Stop animation on button click
    // })

    // ------------------------------ createMap ------------------------------
    function createMap(
      element: HTMLElement,
      center: google.maps.LatLng,
      zoom: number
    ): google.maps.Map {
      return new google.maps.Map(element, {
        center,
        zoom,
        minZoom: zoom,
        streetViewControl: false,
        mapTypeControlOptions: {
          mapTypeIds: ['HYBRID']
        }
      })
    }
    // ------------------------------ createInfoWindow ------------------------------
    function createInfoWindow(): google.maps.InfoWindow {
      return new google.maps.InfoWindow({
        content: '',
        disableAutoPan: true
      })
    }
    // ------------------------------ geocodeLocation ------------------------------
    async function geocodeLocation(
      location: google.maps.LatLng
    ): Promise<string | null> {
      const geocoder = new google.maps.Geocoder()
      const results: any = await geocoder.geocode({ location })

      console.log(results?.results[0].formatted_address)

      if (results?.results[0]) {
        return results?.results[0].formatted_address
      }

      return null
    }
    // ------------------------------ calculateRoute ------------------------------
    async function calculateRoute(
      origin: google.maps.LatLng,
      destination: google.maps.LatLng,
      travelMode: google.maps.TravelMode
    ): Promise<{ distance: string | null; duration: string | null }> {
      const directionsService = new google.maps.DirectionsService()
      const request: google.maps.DirectionsRequest = {
        origin,
        destination,
        travelMode
      }

      const response: any = await directionsService.route(request)

      if (response.status === 'OK') {
        const route = response.routes[0]
        const leg = route.legs[0]

        if (leg) {
          return {
            distance: leg.distance?.text,
            duration: leg.duration?.text
          }
        }
      }

      return { distance: null, duration: null }
    }
    // ------------------------------ createMarkers ------------------------------
    function createMarkers(positions: Location[]): google.maps.Marker[] {
      return positions.map((position: any, i) => {
        const number = i + 1
        const marker = new google.maps.Marker({
          position: position.center,
          map: map,
          icon: {
            url: 'https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png',
            scaledSize: new google.maps.Size(50, 50),
            anchor: new google.maps.Point(25, 50)
          }
        })

        marker.addListener('mouseover', () => {
          infoWindow.setContent(position.name)
          infoWindow.open(map, marker)
        })

        marker.addListener('mouseout', () => {
          infoWindow.close()
        })

        marker.addListener('click', () => {
          infoWindow.setContent(position.name)
          infoWindow.open(map, marker)
        })

        return marker
      })
    }
    // marker = markers
    // ------------------------------ createPolyline ------------------------------
    function createPolyline(
      coordinates: google.maps.LatLng[],
      map: google.maps.Map,
      options?: google.maps.PolylineOptions
    ): google.maps.Polyline {
      const polyline = new google.maps.Polyline({
        path: coordinates,
        ...options // Optional PolylineOptions object
      })
      return polyline
    }
    // ------------------------------ animatePolyline ------------------------------
    function animatePolyline(
      polyline: google.maps.Polyline,
      animationDuration: number = 800
    ) {
      let count = 0

      const intervalId = window.setInterval(() => {
        count = (count + 1) % 200

        const icons = polyline.get('icons')

        icons[0].offset = count / 2 + '%'
        polyline.set('icons', icons)
      }, animationDuration)

      return intervalId // Return interval ID for potential stopping later
    }

    async function calculateAndDisplayRoute(item: any) {
      const waypointsTest: { location: google.maps.LatLng }[] = item.map(
        (location: any) => ({
          location: new google.maps.LatLng(
            location.center.lat,
            location.center.lng
          )
        })
      )

      // Ensure map has been initialized before calculations
      if (!map) {
        console.error('Map object not found.')
        return
      }

      try {
        // Calculate routes sequentially using async/await for clarity
        let totalDistance = 0
        let totalDuration = 0
        for (let i = 0; i < waypointsTest.length - 1; i++) {
          const origin = waypointsTest[i].location
          const destination = waypointsTest[i + 1].location

          const { distance, duration } = await calculateRoute(
            origin,
            destination,
            google.maps.TravelMode.DRIVING
          )

          if (distance && duration) {
            totalDistance += parseFloat(distance.replace(',', '')) // Handle distance formatting
            totalDuration += parseFloat(duration.replace(' mins', '')) // Handle duration formatting

            // Display route segments individually or combine for overall route (adjust as needed)
            const directionsService = new google.maps.DirectionsService()
            const request = {
              origin,
              destination,
              travelMode: google.maps.TravelMode.DRIVING
            }
            directionsService.route(request, (response, status) => {
              if (status === 'OK') {
                // Display the individual route segment on the map (optional)
              } else {
                console.error('Failed to display route segment:', status)
              }
            })
          } else {
            console.error(
              'Distance or duration is undefined for route segment:',
              i + 1
            )
          }
        }

        // Update UI with overall route information (adjust based on your UI elements)
        const distanceElement = document.getElementById('totalDistance')
        if (distanceElement) {
          distanceElement.textContent =
            totalDistance.toLocaleString('en-US', {
              maximumFractionDigits: 2
            }) + ' km'
        }
        const durationElement = document.getElementById('totalDuration')
        if (durationElement) {
          durationElement.textContent =
            totalDuration.toLocaleString('en-US', {
              maximumFractionDigits: 0
            }) + ' mins'
        }
      } catch (error) {
        console.error('Error calculating route:', error)
        // Handle errors gracefully in your UI (e.g., display an error message)
      } finally {
        // Optionally, clean up or reset state after calculations
      }
    }

    // function calculateAndDisplayRoute(item: any) {
    //   const waypointsTest: any = []

    //   for (let i = 0; i < item.length; i++) {
    //     waypointsTest.push({
    //       location: new google.maps.LatLng(
    //         item[i].center.lat,
    //         item[i].center.lng
    //       )
    //     })
    //   }

    //   setTimeout(() => {
    //     let markers = []
    //     let markersVisible = true
    //     const request: google.maps.DirectionsRequest = {
    //       origin: waypointsTest[0].location,
    //       destination: waypointsTest[waypointsTest.length - 1].location,
    //       waypoints: waypointsTest.slice(1, waypointsTest.length - 1), // ตำแหน่งตั้งแต่ตัวที่ 2 ถึงตัวก่อนตัวสุดท้าย
    //       travelMode: google.maps.TravelMode.DRIVING // หรือประเภท TravelMode อื่น ๆ ที่เหมาะสม
    //     }
    //     directionsService.route(request, function (response, status) {
    //       if (status === 'OK') {
    //       } else {
    //         window.alert('ไม่สามารถคำนวณเส้นทางได้ เนื่องจาก: ' + status)
    //       }
    //     })
    //     // Add event listener to toggle button
    //     const toggleButton: any = document.getElementById('toggleButton')
    //     toggleButton.addEventListener('click', toggleMarkersVisibility)

    //     function toggleMarkersVisibility() {
    //       if (isPolylineVisible) {
    //         polyline.setMap(null) // Hide polyline
    //       } else {
    //         polyline.setMap(map) // Show polyline
    //       }
    //       isPolylineVisible = !isPolylineVisible
    //     }
    //   }, 1000)
    // }

    calculateAndDisplayRoute(itemMarker.value)
    console.log(itemMarker.value)
  } catch (error) {
    console.log(error)
  }
}

mapsTest()

const markApi = (item: any) => {
  // const index = itemMarker.value.indexOf(item)
  // var newLatLng = new google.maps.LatLng(item.center.lat, item.center.lng)
  // var newZoom = 9
  // // ใช้ setCenter เพื่อเปลี่ยนตำแหน่งแผนที่
  // // this.map.setCenter(newLatLng);
  // map.panTo(newLatLng)
  // map.setZoom(newZoom)
  // infoWindow.setContent(item.name)
  // infoWindow.open(map, marker[index])
}
</script>

<style lang="scss">
#dashboard {
  #map {
    width: 100%;
    height: 80vh;
  }
  #toggleButton {
    position: absolute;
    top: 2.5%;
    left: 83%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    width: 80px;
  }
  @media only screen and (max-width: 768px) {
    #toggleButton {
      position: absolute;
      top: 2.5%;
      left: 78%;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px;
      cursor: pointer;
      width: 80px;
    }
  }
  .custom-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}
</style>
