<template>
  <div id="main-dashboard">
    <v-card elevation="0" class="my-3">
      <v-row>
        <v-col v-for="n in 9" :key="n" class="d-flex child-flex" cols="3">
          <v-img
            :src="`https://picsum.photos/500/300?image=${n * 5 + 10}`"
            :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
            aspect-ratio="1"
            cover
            class="bg-grey-lighten-2"
          >
            <template #placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="grey-lighten-5" />
              </v-row>
            </template>
          </v-img>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss">
// #main-dashboard {
// }
</style>
