<template>
  <div id="headBar">
    <v-card class="pa-2" style="background-color: #294c60">
      <v-row no-gutters>
        <v-col cols="12">
          <div class="d-flex">
            <div class="pt-2 px-2">
              <span style="color: #ffffff">
                <v-icon :icon="items[0].icon" />
              </span>
            </div>
            <div class="py-2 mx-2">
              <span v-for="(item, i) in items" :key="i" style="color: #ffffff">
                {{ item.name }}
              </span>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script setup lang="ts">
defineProps({
  items: {
    type: Array as PropType<any>,
    required: true
  }
})
</script>

<style lang="scss">
// #headBar{
// }
</style>
