<template>
  <div id="user-list">
    <BreadcrumbHeadBar :items="itemHeadBar" />
    <UserListTable />
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  middleware: 'is-auth'
})
const { locale, t } = useI18n()
const $t = (key: any) => t(key, { locale })
const itemHeadBar = ref([
  { name: $t('nav.txUserList'), path: '/user-list', icon: 'mdi-forum' }
])
</script>

<style lang="scss">
// #user-list {
// }
</style>
