@import 'font/mixins';

// ------------------------ Kanit --------------------
@include font-face('Kanit-Bold', 'Kanit-Bold', '~/assets/fonts/Kanit/');
$KanitBold: 'Kanit-Bold';
@include font-face('Kanit-Light', 'Kanit-Light', '~/assets/fonts/Kanit/');
$KanitLight: 'Kanit-Light';
@include font-face('Kanit-Regular', 'Kanit-Regular', '~/assets/fonts/Kanit/');
$KanitRegular: 'Kanit-Regular';
// -------------------------------------------------------------
* {
  padding: 0;
  margin: 0;
  font-family: $KanitLight !important;
  font-weight: 300 !important;
}
// ------------------------------ Main Color -----------------------------------
.main-color-I {
  color: #473f3f;
}
.main-color-II {
  color: #b4b4b4;
}
.main-color-III {
  color: #fedd00;
}
.main-color-IV {
  color: #ffe54c;
}
.main-color-V {
  color: #fff4b2;
}
.main-color-VI {
  color: #ffffff;
}
// ----------------- ขนาด font ---------------------------
.font-8 {
  font-size: 8px !important;
}
.font-9 {
  font-size: 9px !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-23 {
  font-size: 23px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-27 {
  font-size: 27px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-29 {
  font-size: 29px !important;
}
.font-30 {
  font-size: 30px !important;
}
/* ล็อคหน้าจอในแนวนอน */
// @media (max-width: 1024px) and (orientation: landscape) {
//   body {
//     transform: rotate(90deg);
//     transform-origin: left top;
//     width: 100vh;
//     overflow-x: hidden;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     height: 100vw;
//     overflow-y: hidden;
//     scrollbar-width: none;
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//     background: #212121 url(https://i.stack.imgur.com/sValK.png) 0 0 no-repeat;
//     background-size: 100% auto;
//   }

//   body::-webkit-scrollbar {
//     display: none;
//   }
// }
